.form-control:focus, .form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.card {
    border-radius: 15px;
}

.btn-primary {
    background-color: #e5ff00;
    border-color: #9b9807;
    transition: all 0.3s ease;
    color: black;
}


.btn-primary:hover {
    background-color: #e5ff00;
    border-color: #9b9807;
}

.form-label {
    font-weight: 500;
}

.invalid-feedback {
    font-size: 80%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#formbak{
    background-color: rgb(20, 20, 20);
}
#texts{
    color: rgb(223, 201, 3);
}
#back{
    background-color: #e5ff00;
}
#linktext{
    color: white;
}